html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'AardvarkCafe';
  src: url("fonts/AardvarkCafe.eot?#iefix") format("embedded-opentype"), url("fonts/AardvarkCafe.woff") format("woff"), url("fonts/AardvarkCafe.ttf") format("truetype"), url("fonts/AardvarkCafe.svg#AardvarkCafe") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Abstrec';
  src: url("fonts/Abstrecfonttfb.eot?#iefix") format("embedded-opentype"), url("fonts/Abstrecfonttfb.woff") format("woff"), url("fonts/Abstrecfonttfb.ttf") format("truetype"), url("fonts/Abstrecfonttfb.svg#Abstrecfonttfb") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AYearWithoutRain';
  src: url("fonts/AYearWithoutRain.eot?#iefix") format("embedded-opentype"), url("fonts/AYearWithoutRain.woff") format("woff"), url("fonts/AYearWithoutRain.ttf") format("truetype"), url("fonts/AYearWithoutRain.svg#AYearWithoutRain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gabrielle';
  src: url("fonts/Gabrielle.eot?#iefix") format("embedded-opentype"), url("fonts/Gabrielle.woff") format("woff"), url("fonts/Gabrielle.ttf") format("truetype"), url("fonts/Gabrielle.svg#Gabrielle") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Light';
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"), url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
img {
  max-width: 100%; }

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contenedorComun {
  float: left;
  clear: none;
  text-align: inherit;
  width: 88.23529%;
  margin-left: 5.88235%;
  margin-right: 0%; }
  .contenedorComun::after {
    content: '';
    display: table;
    clear: both; }
  .contenedorComun:last-child {
    margin-right: 0%; }

.clearHelper {
  clear: both; }

.headerIndex {
  padding-top: 15px; }
  .headerIndex .centro {
    -ms-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .headerIndex .logo {
    float: left;
    clear: none;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%; }
    .headerIndex .logo::after {
      content: '';
      display: table;
      clear: both; }
    .headerIndex .logo:last-child {
      margin-right: 0%; }
    .headerIndex .logo .imagen {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
      -webkit-transition: all .8s ease-in-out;
      /* safari - Chrome*/
      -moz-transition: all .8s ease-in-out;
      /* Firefox */
      -o-transition: all .8s ease-in-out;
      /* Opera */
      transition: all .8s ease-in-out; }
      .headerIndex .logo .imagen::after {
        content: '';
        display: table;
        clear: both; }
      .headerIndex .logo .imagen:last-child {
        margin-right: 0%; }
    .headerIndex .logo .imagen:hover {
      cursor: pointer;
      -webkit-transform: rotate(360deg);
      /* safari - Chrome*/
      -moz-transform: rotate(360deg);
      /* Firefox */
      -o-transform: rotate(360deg);
      /* Opera */
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
    .headerIndex .logo .texto {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center; }
      .headerIndex .logo .texto::after {
        content: '';
        display: table;
        clear: both; }
      .headerIndex .logo .texto:last-child {
        margin-right: 0%; }
      .headerIndex .logo .texto a {
        font-family: 'AYearWithoutRain';
        color: #EB363C;
        font-size: 1.5em;
        text-decoration: none; }
  .headerIndex .menu {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: right; }
    .headerIndex .menu::after {
      content: '';
      display: table;
      clear: both; }
    .headerIndex .menu:last-child {
      margin-right: 0%; }
    .headerIndex .menu ul {
      float: right;
      cursor: default; }
    .headerIndex .menu li {
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px; }
    .headerIndex .menu a {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      text-decoration: none;
      font-family: 'AardvarkCafe';
      color: #7F7F7F;
      font-size: 1.5em; }
    .headerIndex .menu a:hover {
      color: #353535; }

.headerRegistro .contenedorGeneral {
  height: 9em; }
  .headerRegistro .contenedorGeneral .contenedor {
    height: 6.7em;
    background-color: #FD9927; }
    .headerRegistro .contenedorGeneral .contenedor .ubicar img {
      max-width: 9em;
      display: block;
      margin: auto;
      padding-top: 2em; }

.RegistroUsuario .contenedor, .RegistroEstablecimiento .contenedor {
  margin-top: 3%; }
  .RegistroUsuario .contenedor h1, .RegistroEstablecimiento .contenedor h1 {
    font-family: 'AardvarkCafe';
    font-size: 2.5em;
    color: #353535;
    text-align: center; }
  .RegistroUsuario .contenedor .contenedorformulario, .RegistroEstablecimiento .contenedor .contenedorformulario {
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: 0%; }
    .RegistroUsuario .contenedor .contenedorformulario::after, .RegistroEstablecimiento .contenedor .contenedorformulario::after {
      content: '';
      display: table;
      clear: both; }
    .RegistroUsuario .contenedor .contenedorformulario:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario:last-child {
      margin-right: 0%; }
    .RegistroUsuario .contenedor .contenedorformulario li, .RegistroEstablecimiento .contenedor .contenedorformulario li {
      margin-top: 1em;
      margin-bottom: 1em; }
    .RegistroUsuario .contenedor .contenedorformulario input, .RegistroEstablecimiento .contenedor .contenedorformulario input {
      font-family: AYearWithoutRain;
      font-size: 1em;
      width: 18em;
      display: block;
      margin: auto; }
    .RegistroUsuario .contenedor .contenedorformulario h2, .RegistroUsuario .contenedor .contenedorformulario h3, .RegistroEstablecimiento .contenedor .contenedorformulario h2, .RegistroEstablecimiento .contenedor .contenedorformulario h3 {
      font-family: AYearWithoutRain;
      font-size: 1em;
      color: #757575;
      text-align: center; }
    .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario {
      width: 18em;
      height: 4em;
      display: block;
      margin: auto; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario h3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario h3 {
        padding-bottom: .5em;
        font-size: .8em; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario input {
        width: 6.5em;
        display: block;
        margin: auto;
        color: #757575; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 1em; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12::after {
          content: '';
          display: table;
          clear: both; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12:last-child {
          margin-right: 0%; }
    .RegistroUsuario .contenedor .contenedorformulario .contenedordias, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias {
      width: 18em;
      display: block;
      margin: auto; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 25%;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 1em; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4::after, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3::after {
          content: '';
          display: table;
          clear: both; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4:last-child, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3:last-child {
          margin-right: 0%; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 input, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 input {
          background: #FFFFFF;
          color: #757575;
          border: 1px solid #757575;
          border-radius: none;
          width: 4em; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 input:hover, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 input:hover {
          background: #757575;
          color: #FFFFFF; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 33.33333%;
        margin-left: 0%;
        margin-right: 0%; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3::after {
          content: '';
          display: table;
          clear: both; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3:last-child {
          margin-right: 0%; }
    .RegistroUsuario .contenedor .contenedorformulario #agregarhorario, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario {
      float: left;
      clear: none;
      text-align: inherit;
      width: 20%;
      margin-left: 60%;
      margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario #agregarhorario::after, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario::after {
        content: '';
        display: table;
        clear: both; }
      .RegistroUsuario .contenedor .contenedorformulario #agregarhorario:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario:last-child {
        margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario #agregarhorario input, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario input {
        background: none;
        color: #36A6F8;
        font-size: 1em;
        width: 7em;
        border: none;
        padding-bottom: 1em; }
      .RegistroUsuario .contenedor .contenedorformulario #agregarhorario input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario input:hover {
        text-decoration: underline; }
    .RegistroUsuario .contenedor .contenedorformulario textarea, .RegistroEstablecimiento .contenedor .contenedorformulario textarea {
      width: 18em;
      font-family: AYearWithoutRain;
      color: #757575;
      display: block;
      margin: auto;
      font-size: 1em; }
    .RegistroUsuario .contenedor .contenedorformulario #mapa, .RegistroEstablecimiento .contenedor .contenedorformulario #mapa {
      height: 500px;
      width: 700px; }


