@import url(jquery-ui.css);
@import url(jquery-ui.multidatespicker.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'AardvarkCafe';
  src: url("fonts/AardvarkCafe.eot?#iefix") format("embedded-opentype"), url("fonts/AardvarkCafe.woff") format("woff"), url("fonts/AardvarkCafe.ttf") format("truetype"), url("fonts/AardvarkCafe.svg#AardvarkCafe") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Abstrec';
  src: url("fonts/Abstrecfonttfb.eot?#iefix") format("embedded-opentype"), url("fonts/Abstrecfonttfb.woff") format("woff"), url("fonts/Abstrecfonttfb.ttf") format("truetype"), url("fonts/Abstrecfonttfb.svg#Abstrecfonttfb") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AYearWithoutRain';
  src: url("fonts/AYearWithoutRain.eot?#iefix") format("embedded-opentype"), url("fonts/AYearWithoutRain.woff") format("woff"), url("fonts/AYearWithoutRain.ttf") format("truetype"), url("fonts/AYearWithoutRain.svg#AYearWithoutRain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gabrielle';
  src: url("fonts/Gabrielle.eot?#iefix") format("embedded-opentype"), url("fonts/Gabrielle.woff") format("woff"), url("fonts/Gabrielle.ttf") format("truetype"), url("fonts/Gabrielle.svg#Gabrielle") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Light';
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"), url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  min-height: 100%;
  position: relative; }

img {
  max-width: 100%; }

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contenedorComun {
  float: left;
  clear: none;
  text-align: inherit;
  width: 88.23529%;
  margin-left: 5.88235%;
  margin-right: 0%; }
  .contenedorComun::after {
    content: '';
    display: table;
    clear: both; }
  .contenedorComun:last-child {
    margin-right: 0%; }

.clearHelper {
  clear: both; }

.home .contenedor {
  z-index: 1;
  padding-top: 30px;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  .home .contenedor::after {
    content: '';
    display: table;
    clear: both; }
  .home .contenedor:last-child {
    margin-right: 0%; }
.home .titulo {
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 10%;
  margin-right: 0%;
  position: relative; }
  .home .titulo::after {
    content: '';
    display: table;
    clear: both; }
  .home .titulo:last-child {
    margin-right: 0%; }
  .home .titulo h1 {
    cursor: default;
    padding-top: 30px;
    font-family: 'AYearWithoutRain';
    font-size: 2.6em; }
.home .contenedorRegistro {
  float: left;
  clear: none;
  text-align: inherit;
  width: 40%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 10px;
  border-radius: 15px;
  background-color: #EFEFEF; }
  .home .contenedorRegistro::after {
    content: '';
    display: table;
    clear: both; }
  .home .contenedorRegistro:last-child {
    margin-right: 0%; }
.home .registro {
  float: left;
  clear: none;
  text-align: inherit;
  width: 91.66667%;
  margin-left: 4.16667%;
  margin-right: 0%; }
  .home .registro::after {
    content: '';
    display: table;
    clear: both; }
  .home .registro:last-child {
    margin-right: 0%; }
.home .registrate {
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .home .registrate .textoEstablecimiento {
    float: left;
    clear: none;
    text-align: inherit;
    width: 81.81818%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 4px; }
    .home .registrate .textoEstablecimiento::after {
      content: '';
      display: table;
      clear: both; }
    .home .registrate .textoEstablecimiento:last-child {
      margin-right: 0%; }
    .home .registrate .textoEstablecimiento ul {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      cursor: default;
      max-width: auto; }
    .home .registrate .textoEstablecimiento li {
      -ms-display: flex;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: inline-block;
      font-family: 'Abstrec'; }
    .home .registrate .textoEstablecimiento a {
      text-decoration: none;
      font-family: 'Abstrec';
      color: #EB363C; }
    .home .registrate .textoEstablecimiento i {
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      font-size: 1.5em;
      color: #EB363C; }
    .home .registrate .textoEstablecimiento ul:hover i {
      padding-left: 10px; }
.home .icono {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.72727%;
  margin-left: 0%;
  margin-right: 0%; }
  .home .icono::after {
    content: '';
    display: table;
    clear: both; }
  .home .icono:last-child {
    margin-right: 0%; }
  .home .icono img {
    width: 90%; }
.home .opcion {
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px; }
  .home .opcion .col922 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 40.90909%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 1px;
    background-color: #7F7F7F; }
    .home .opcion .col922::after {
      content: '';
      display: table;
      clear: both; }
    .home .opcion .col922:last-child {
      margin-right: 0%; }
  .home .opcion .col422 {
    cursor: default;
    float: left;
    clear: none;
    text-align: inherit;
    width: 18.18182%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center; }
    .home .opcion .col422::after {
      content: '';
      display: table;
      clear: both; }
    .home .opcion .col422:last-child {
      margin-right: 0%; }
    .home .opcion .col422 h3 {
      font-family: 'Abstrec';
      font-size: .8em; }
.home .texto h1 {
  cursor: default;
  font-family: 'Abstrec';
  font-size: 1em;
  padding-bottom: 16px;
  color: #000000; }
.home .textoUsuario {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 10px; }
  .home .textoUsuario::after {
    content: '';
    display: table;
    clear: both; }
  .home .textoUsuario:last-child {
    margin-right: 0%; }
.home .formularioUsuario {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }
  .home .formularioUsuario::after {
    content: '';
    display: table;
    clear: both; }
  .home .formularioUsuario:last-child {
    margin-right: 0%; }
  .home .formularioUsuario form input {
    color: #353535;
    display: block;
    font-family: 'AYearWithoutRain';
    letter-spacing: .1em;
    border: none;
    border: solid #7F7F7F 1px;
    background-color: #FFFFFF;
    font-size: 1.2em;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .home .formularioUsuario form .col11 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .home .formularioUsuario form .col11::after {
      content: '';
      display: table;
      clear: both; }
    .home .formularioUsuario form .col11:last-child {
      margin-right: 0%; }
  .home .formularioUsuario form .col12 {
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%; }
    .home .formularioUsuario form .col12::after {
      content: '';
      display: table;
      clear: both; }
    .home .formularioUsuario form .col12:last-child {
      margin-right: 0%; }
    .home .formularioUsuario form .col12 input {
      width: 98%; }
  .home .formularioUsuario form .right {
    float: right; }
  .home .formularioUsuario form .checka {
    padding-top: 5px;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .home .formularioUsuario form .checka input[type="checkbox"] {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin-left: 0px; }
    .home .formularioUsuario form .checka input[type="checkbox"]:hover {
      cursor: pointer; }
    .home .formularioUsuario form .checka label {
      font-size: 1em;
      font-family: 'AYearWithoutRain';
      color: #353535; }
    .home .formularioUsuario form .checka a {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      text-decoration: none;
      font-size: 1em;
      font-family: 'AYearWithoutRain';
      color: #36A6F8;
      padding-left: 4px; }
      .home .formularioUsuario form .checka a:hover {
        color: #3AC451; }
  .home .formularioUsuario form .boton {
    float: left;
    clear: none;
    text-align: inherit;
    width: 60%;
    margin-left: 20%;
    margin-right: 0%;
    padding-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .home .formularioUsuario form .boton::after {
      content: '';
      display: table;
      clear: both; }
    .home .formularioUsuario form .boton:last-child {
      margin-right: 0%; }
    .home .formularioUsuario form .boton input {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      color: #000000;
      text-align: center;
      background-color: #FD9927;
      border: 0px;
      border-radius: 10px; }
      .home .formularioUsuario form .boton input:hover {
        background-color: #7F7F7F;
        color: #FFFFFF;
        cursor: pointer; }
  .home .formularioUsuario form .mensajeInicio {
    padding-top: 7px;
    padding-bottom: 20px;
    text-align: center; }
    .home .formularioUsuario form .mensajeInicio label {
      font-size: .8em;
      font-family: 'AYearWithoutRain';
      color: #353535; }
    .home .formularioUsuario form .mensajeInicio a {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      text-decoration: none;
      font-size: .8em;
      font-family: 'AYearWithoutRain';
      color: #36A6F8;
      padding-left: 4px; }
      .home .formularioUsuario form .mensajeInicio a:hover {
        color: #3AC451; }
.home .local {
  position: absolute;
  margin-top: 16%;
  z-index: -1; }

.headerIndex {
  padding-top: 15px; }
  .headerIndex .centro {
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headerIndex .logo {
    float: left;
    clear: none;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%; }
    .headerIndex .logo::after {
      content: '';
      display: table;
      clear: both; }
    .headerIndex .logo:last-child {
      margin-right: 0%; }
    .headerIndex .logo .imagen {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
      -webkit-transition: all .8s ease-in-out;
      /* safari - Chrome*/
      -moz-transition: all .8s ease-in-out;
      /* Firefox */
      -o-transition: all .8s ease-in-out;
      /* Opera */
      transition: all .8s ease-in-out; }
      .headerIndex .logo .imagen::after {
        content: '';
        display: table;
        clear: both; }
      .headerIndex .logo .imagen:last-child {
        margin-right: 0%; }
    .headerIndex .logo .imagen:hover {
      cursor: pointer;
      -webkit-transform: rotate(360deg);
      /* safari - Chrome*/
      -moz-transform: rotate(360deg);
      /* Firefox */
      -o-transform: rotate(360deg);
      /* Opera */
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
    .headerIndex .logo .texto {
      float: left;
      clear: none;
      text-align: inherit;
      width: 50%;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center; }
      .headerIndex .logo .texto::after {
        content: '';
        display: table;
        clear: both; }
      .headerIndex .logo .texto:last-child {
        margin-right: 0%; }
      .headerIndex .logo .texto a {
        font-family: 'AYearWithoutRain';
        color: #EB363C;
        font-size: 1.5em;
        text-decoration: none; }
  .headerIndex .menu {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    float: right; }
    .headerIndex .menu::after {
      content: '';
      display: table;
      clear: both; }
    .headerIndex .menu:last-child {
      margin-right: 0%; }
    .headerIndex .menu ul {
      float: right;
      cursor: default; }
    .headerIndex .menu li {
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px; }
    .headerIndex .menu a {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      text-decoration: none;
      font-family: 'AardvarkCafe';
      color: #7F7F7F;
      font-size: 1.5em; }
    .headerIndex .menu a:hover {
      color: #353535; }

.headerRegistro .contenedorGeneral {
  height: 9em; }
  .headerRegistro .contenedorGeneral .contenedor {
    height: 6.7em;
    background-color: #FD9927; }
    .headerRegistro .contenedorGeneral .contenedor .ubicar img {
      max-width: 9em;
      display: block;
      margin: auto;
      padding-top: 2em; }

.Promocion, .Evento {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 3em;
  margin-top: 3%; }
  .Promocion::after, .Evento::after {
    content: '';
    display: table;
    clear: both; }
  .Promocion:last-child, .Evento:last-child {
    margin-right: 0%; }
  .Promocion h1, .Evento h1 {
    font-family: 'AardvarkCafe';
    font-size: 2.5em;
    color: #353535;
    text-align: center; }
  .Promocion .contenedorformulario, .Evento .contenedorformulario {
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: 0%; }
    .Promocion .contenedorformulario::after, .Evento .contenedorformulario::after {
      content: '';
      display: table;
      clear: both; }
    .Promocion .contenedorformulario:last-child, .Evento .contenedorformulario:last-child {
      margin-right: 0%; }
    .Promocion .contenedorformulario input, .Promocion .contenedorformulario textarea, .Evento .contenedorformulario input, .Evento .contenedorformulario textarea {
      font-family: AYearWithoutRain;
      font-size: 1.2em;
      width: 18em;
      display: block;
      margin: auto;
      margin-top: 1em; }
    .Promocion .contenedorformulario h2, .Promocion .contenedorformulario label, .Evento .contenedorformulario h2, .Evento .contenedorformulario label {
      font-family: AYearWithoutRain;
      font-size: 1.2em;
      color: #757575;
      text-align: center;
      margin-top: 1em; }
    .Promocion .contenedorformulario h3, .Evento .contenedorformulario h3 {
      font-family: AYearWithoutRain;
      padding-bottom: .5em;
      font-size: .8em;
      color: #757575;
      text-align: center; }
    .Promocion .contenedorformulario input[type=submit], .Evento .contenedorformulario input[type=submit] {
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      font-weight: 500;
      background: #36A6F8;
      color: #FFFFFF;
      border: 1px solid #36A6F8;
      border-radius: .3em;
      width: 18em;
      padding: 0.625rem;
      font-size: 1.2em;
      margin-bottom: 3em; }
    .Promocion .contenedorformulario input[type=submit]:hover, .Evento .contenedorformulario input[type=submit]:hover {
      background: #757575;
      border-color: #757575;
      color: #FFFFFF;
      cursor: pointer; }
    .Promocion .contenedorformulario .contenedorvarios, .Evento .contenedorformulario .contenedorvarios {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      display: block;
      margin: auto; }
      .Promocion .contenedorformulario .contenedorvarios .ContenedorCalendario, .Evento .contenedorformulario .contenedorvarios .ContenedorCalendario {
        float: left;
        clear: none;
        text-align: inherit;
        width: 66.66667%;
        margin-left: 16.66667%;
        margin-right: 0%;
        padding-top: 1em; }
        .Promocion .contenedorformulario .contenedorvarios .ContenedorCalendario::after, .Evento .contenedorformulario .contenedorvarios .ContenedorCalendario::after {
          content: '';
          display: table;
          clear: both; }
        .Promocion .contenedorformulario .contenedorvarios .ContenedorCalendario:last-child, .Evento .contenedorformulario .contenedorvarios .ContenedorCalendario:last-child {
          margin-right: 0%; }
        .Promocion .contenedorformulario .contenedorvarios .ContenedorCalendario #calendario, .Evento .contenedorformulario .contenedorvarios .ContenedorCalendario #calendario {
          display: block;
          margin: auto; }
      .Promocion .contenedorformulario .contenedorvarios::after, .Evento .contenedorformulario .contenedorvarios::after {
        content: '';
        display: table;
        clear: both; }
      .Promocion .contenedorformulario .contenedorvarios:last-child, .Evento .contenedorformulario .contenedorvarios:last-child {
        margin-right: 0%; }
      .Promocion .contenedorformulario .contenedorvarios h3, .Evento .contenedorformulario .contenedorvarios h3 {
        padding-bottom: .5em;
        font-size: .8em; }
      .Promocion .contenedorformulario .contenedorvarios input, .Evento .contenedorformulario .contenedorvarios input {
        width: 7em;
        display: block;
        margin: auto;
        color: #757575; }
      .Promocion .contenedorformulario .contenedorvarios .parte12, .Evento .contenedorformulario .contenedorvarios .parte12 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 1em; }
        .Promocion .contenedorformulario .contenedorvarios .parte12::after, .Evento .contenedorformulario .contenedorvarios .parte12::after {
          content: '';
          display: table;
          clear: both; }
        .Promocion .contenedorformulario .contenedorvarios .parte12:last-child, .Evento .contenedorformulario .contenedorvarios .parte12:last-child {
          margin-right: 0%; }
        .Promocion .contenedorformulario .contenedorvarios .parte12 .izq, .Evento .contenedorformulario .contenedorvarios .parte12 .izq {
          padding-left: 1em; }
        .Promocion .contenedorformulario .contenedorvarios .parte12 .der, .Evento .contenedorformulario .contenedorvarios .parte12 .der {
          padding-right: 1em; }
    .Promocion .contenedorformulario #agregarperiodo, .Evento .contenedorformulario #agregarperiodo {
      float: left;
      clear: none;
      text-align: inherit;
      width: 40%;
      margin-left: 55%;
      margin-right: 0%; }
      .Promocion .contenedorformulario #agregarperiodo::after, .Evento .contenedorformulario #agregarperiodo::after {
        content: '';
        display: table;
        clear: both; }
      .Promocion .contenedorformulario #agregarperiodo:last-child, .Evento .contenedorformulario #agregarperiodo:last-child {
        margin-right: 0%; }
      .Promocion .contenedorformulario #agregarperiodo input, .Evento .contenedorformulario #agregarperiodo input {
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        background: none;
        color: #36A6F8;
        width: 7em;
        border: none;
        margin-bottom: 1em; }
      .Promocion .contenedorformulario #agregarperiodo input:hover, .Evento .contenedorformulario #agregarperiodo input:hover {
        text-decoration: underline;
        cursor: pointer; }
    .Promocion .contenedorformulario .ImagenFile, .Evento .contenedorformulario .ImagenFile {
      margin-top: 1em; }
      .Promocion .contenedorformulario .ImagenFile input, .Evento .contenedorformulario .ImagenFile input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        margin: auto; }
      .Promocion .contenedorformulario .ImagenFile label[for], .Evento .contenedorformulario .ImagenFile label[for] {
        max-width: 76%;
        font-size: 1.25rem;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: block;
        margin: auto;
        overflow: hidden;
        border: 1px solid #FD9927; }
      .Promocion .contenedorformulario .ImagenFile label span, .Evento .contenedorformulario .ImagenFile label span {
        width: 160px;
        min-height: 1.2em;
        display: table-cell;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
        padding: 0.625rem 1.5rem; }
      .Promocion .contenedorformulario .ImagenFile label strong, .Evento .contenedorformulario .ImagenFile label strong {
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        min-height: 1.1em;
        display: table-cell;
        background-color: #FD9927;
        padding: 0.7rem 1.25rem;
        color: #FFFFFF; }
      .Promocion .contenedorformulario .ImagenFile label strong:hover, .Evento .contenedorformulario .ImagenFile label strong:hover {
        background: #FEA53F;
        border-color: #FEA53F;
        cursor: pointer; }
      .Promocion .contenedorformulario .ImagenFile label:hover, .Evento .contenedorformulario .ImagenFile label:hover {
        border-color: #FEA53F; }
      .Promocion .contenedorformulario .ImagenFile label svg, .Evento .contenedorformulario .ImagenFile label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        /* 4px */
        margin-right: 0.25em;
        /* 4px */ }

.headerRegistro .contenedorGeneral {
  height: 9em; }
  .headerRegistro .contenedorGeneral .contenedor {
    height: 6.7em;
    background-color: #FD9927; }
    .headerRegistro .contenedorGeneral .contenedor .ubicar img {
      max-width: 9em;
      display: block;
      margin: auto;
      padding-top: 2em; }

.RegistroUsuario, .RegistroEstablecimiento, .IniciarSesion {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 3%;
  margin-bottom: 3em; }
  .RegistroUsuario::after, .RegistroEstablecimiento::after, .IniciarSesion::after {
    content: '';
    display: table;
    clear: both; }
  .RegistroUsuario:last-child, .RegistroEstablecimiento:last-child, .IniciarSesion:last-child {
    margin-right: 0%; }
  .RegistroUsuario .contenedor, .RegistroEstablecimiento .contenedor, .IniciarSesion .contenedor {
    margin-top: 3%; }
    .RegistroUsuario .contenedor h1, .RegistroEstablecimiento .contenedor h1, .IniciarSesion .contenedor h1 {
      font-family: 'AardvarkCafe';
      font-size: 2.5em;
      color: #353535;
      text-align: center; }
    .RegistroUsuario .contenedor .contenedorformulario, .RegistroEstablecimiento .contenedor .contenedorformulario, .IniciarSesion .contenedor .contenedorformulario {
      float: left;
      clear: none;
      text-align: inherit;
      width: 33.33333%;
      margin-left: 33.33333%;
      margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario::after, .RegistroEstablecimiento .contenedor .contenedorformulario::after, .IniciarSesion .contenedor .contenedorformulario::after {
        content: '';
        display: table;
        clear: both; }
      .RegistroUsuario .contenedor .contenedorformulario:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario:last-child, .IniciarSesion .contenedor .contenedorformulario:last-child {
        margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario li, .RegistroEstablecimiento .contenedor .contenedorformulario li, .IniciarSesion .contenedor .contenedorformulario li {
        margin-top: 1em;
        margin-bottom: 1em; }
      .RegistroUsuario .contenedor .contenedorformulario input, .RegistroEstablecimiento .contenedor .contenedorformulario input, .IniciarSesion .contenedor .contenedorformulario input {
        font-family: AYearWithoutRain;
        font-size: 1.2em;
        width: 18em;
        display: block;
        margin: auto; }
      .RegistroUsuario .contenedor .contenedorformulario h2, .RegistroUsuario .contenedor .contenedorformulario h3, .RegistroUsuario .contenedor .contenedorformulario label, .RegistroEstablecimiento .contenedor .contenedorformulario h2, .RegistroEstablecimiento .contenedor .contenedorformulario h3, .RegistroEstablecimiento .contenedor .contenedorformulario label, .IniciarSesion .contenedor .contenedorformulario h2, .IniciarSesion .contenedor .contenedorformulario h3, .IniciarSesion .contenedor .contenedorformulario label {
        font-family: AYearWithoutRain;
        font-size: 1.2em;
        color: #757575;
        text-align: center; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario {
        width: 20em;
        height: 4em;
        display: block;
        margin: auto; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario h3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario h3, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario h3 {
          padding-bottom: .5em;
          font-size: .8em; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario input, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario input {
          width: 6.5em;
          display: block;
          margin: auto;
          color: #757575; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario .parte12 {
          float: left;
          clear: none;
          text-align: inherit;
          width: 50%;
          margin-left: 0%;
          margin-right: 0%;
          padding-bottom: 1em; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12::after, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario .parte12::after {
            content: '';
            display: table;
            clear: both; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedorhorario .parte12:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorhorario .parte12:last-child, .IniciarSesion .contenedor .contenedorformulario .contenedorhorario .parte12:last-child {
            margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedordias, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias, .IniciarSesion .contenedor .contenedorformulario .contenedordias {
        width: 22em;
        display: block;
        margin: auto; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 {
          float: left;
          clear: none;
          text-align: inherit;
          width: 25%;
          margin-left: 0%;
          margin-right: 0%;
          padding-bottom: 1em; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4::after, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3::after, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4::after, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3::after {
            content: '';
            display: table;
            clear: both; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4:last-child, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4:last-child, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3:last-child {
            margin-right: 0%; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 input, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 input, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4 input, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 input {
            visibility: hidden;
            display: inline-block; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 label[for], .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 label[for], .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 label[for], .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 label[for], .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4 label[for], .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 label[for] {
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            background: #FFFFFF;
            color: #757575;
            border: 1px solid #757575;
            border-radius: .15em;
            width: 3.5em;
            padding: .25em;
            position: relative;
            display: inline-block; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 label:hover, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 label:hover, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 label:hover, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 label:hover, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4 label:hover, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 label:hover {
            background: #757575;
            color: #FFFFFF;
            cursor: pointer; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor4 input:checked + label.dias, .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3 input:checked + label.dias, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor4 input:checked + label.dias, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3 input:checked + label.dias, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor4 input:checked + label.dias, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 input:checked + label.dias {
            background: #36A6F8;
            color: #FFFFFF;
            cursor: pointer;
            border: 1px solid #36A6F8; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3 {
          float: left;
          clear: none;
          text-align: inherit;
          width: 33.33333%;
          margin-left: 0%;
          margin-right: 0%; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3::after, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3::after {
            content: '';
            display: table;
            clear: both; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedordias .contenedor3:last-child, .IniciarSesion .contenedor .contenedorformulario .contenedordias .contenedor3:last-child {
            margin-right: 0%; }
      .RegistroUsuario .contenedor .contenedorformulario #agregarhorario, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario, .IniciarSesion .contenedor .contenedorformulario #agregarhorario {
        float: left;
        clear: none;
        text-align: inherit;
        width: 20%;
        margin-left: 60%;
        margin-right: 0%; }
        .RegistroUsuario .contenedor .contenedorformulario #agregarhorario::after, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario::after, .IniciarSesion .contenedor .contenedorformulario #agregarhorario::after {
          content: '';
          display: table;
          clear: both; }
        .RegistroUsuario .contenedor .contenedorformulario #agregarhorario:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario:last-child, .IniciarSesion .contenedor .contenedorformulario #agregarhorario:last-child {
          margin-right: 0%; }
        .RegistroUsuario .contenedor .contenedorformulario #agregarhorario input, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario input, .IniciarSesion .contenedor .contenedorformulario #agregarhorario input {
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          background: none;
          color: #36A6F8;
          font-size: 1.2em;
          width: 7em;
          border: none;
          padding-bottom: 1em; }
        .RegistroUsuario .contenedor .contenedorformulario #agregarhorario input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario #agregarhorario input:hover, .IniciarSesion .contenedor .contenedorformulario #agregarhorario input:hover {
          color: #FD9927;
          cursor: pointer; }
      .RegistroUsuario .contenedor .contenedorformulario textarea, .RegistroEstablecimiento .contenedor .contenedorformulario textarea, .IniciarSesion .contenedor .contenedorformulario textarea {
        width: 18em;
        font-family: AYearWithoutRain;
        color: #757575;
        display: block;
        margin: auto;
        font-size: 1.2em; }
      .RegistroUsuario .contenedor .contenedorformulario #mapa, .RegistroEstablecimiento .contenedor .contenedorformulario #mapa, .IniciarSesion .contenedor .contenedorformulario #mapa {
        height: 500px;
        width: 444px;
        display: block;
        margin: auto; }
      .RegistroUsuario .contenedor .contenedorformulario #inputmapa, .RegistroEstablecimiento .contenedor .contenedorformulario #inputmapa, .IniciarSesion .contenedor .contenedorformulario #inputmapa {
        margin-top: 1em;
        margin-bottom: 1em; }
        .RegistroUsuario .contenedor .contenedorformulario #inputmapa input, .RegistroEstablecimiento .contenedor .contenedorformulario #inputmapa input, .IniciarSesion .contenedor .contenedorformulario #inputmapa input {
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          background: #36A6F8;
          color: #353535;
          border: 1px solid #36A6F8;
          width: 12em;
          display: block;
          margin: auto;
          border-radius: .3em; }
        .RegistroUsuario .contenedor .contenedorformulario #inputmapa input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario #inputmapa input:hover, .IniciarSesion .contenedor .contenedorformulario #inputmapa input:hover {
          background: #FEA53F;
          border-color: #FEA53F; }
      .RegistroUsuario .contenedor .contenedorformulario #margen, .RegistroEstablecimiento .contenedor .contenedorformulario #margen, .IniciarSesion .contenedor .contenedorformulario #margen {
        margin-top: 1em; }
      .RegistroUsuario .contenedor .contenedorformulario .contenedorApellidos, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorApellidos, .IniciarSesion .contenedor .contenedorformulario .contenedorApellidos {
        width: 22em;
        display: block;
        margin: auto; }
        .RegistroUsuario .contenedor .contenedorformulario .contenedorApellidos #apellidos, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorApellidos #apellidos, .IniciarSesion .contenedor .contenedorformulario .contenedorApellidos #apellidos {
          float: left;
          clear: none;
          text-align: inherit;
          width: 50%;
          margin-left: 0%;
          margin-right: 0%;
          padding-bottom: 1em;
          float: left; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedorApellidos #apellidos::after, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorApellidos #apellidos::after, .IniciarSesion .contenedor .contenedorformulario .contenedorApellidos #apellidos::after {
            content: '';
            display: table;
            clear: both; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedorApellidos #apellidos:last-child, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorApellidos #apellidos:last-child, .IniciarSesion .contenedor .contenedorformulario .contenedorApellidos #apellidos:last-child {
            margin-right: 0%; }
          .RegistroUsuario .contenedor .contenedorformulario .contenedorApellidos #apellidos input, .RegistroEstablecimiento .contenedor .contenedorformulario .contenedorApellidos #apellidos input, .IniciarSesion .contenedor .contenedorformulario .contenedorApellidos #apellidos input {
            width: 95%; }
      .RegistroUsuario .contenedor .contenedorformulario #vinculo, .RegistroEstablecimiento .contenedor .contenedorformulario #vinculo, .IniciarSesion .contenedor .contenedorformulario #vinculo {
        width: 20em;
        display: block;
        margin: auto; }
        .RegistroUsuario .contenedor .contenedorformulario #vinculo input, .RegistroEstablecimiento .contenedor .contenedorformulario #vinculo input, .IniciarSesion .contenedor .contenedorformulario #vinculo input {
          display: inline-block;
          width: 1em; }
        .RegistroUsuario .contenedor .contenedorformulario #vinculo h3, .RegistroEstablecimiento .contenedor .contenedorformulario #vinculo h3, .IniciarSesion .contenedor .contenedorformulario #vinculo h3 {
          display: inline-block; }
        .RegistroUsuario .contenedor .contenedorformulario #vinculo a, .RegistroEstablecimiento .contenedor .contenedorformulario #vinculo a, .IniciarSesion .contenedor .contenedorformulario #vinculo a {
          text-decoration: none;
          color: #36A6F8;
          display: inline-block; }
        .RegistroUsuario .contenedor .contenedorformulario #vinculo a:hover, .RegistroEstablecimiento .contenedor .contenedorformulario #vinculo a:hover, .IniciarSesion .contenedor .contenedorformulario #vinculo a:hover {
          text-decoration: underline; }
      .RegistroUsuario .contenedor .contenedorformulario #registro input, .RegistroEstablecimiento .contenedor .contenedorformulario #registro input, .IniciarSesion .contenedor .contenedorformulario #registro input {
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        background: #36A6F8;
        color: #353535;
        border: 1px solid #36A6F8;
        border-radius: .3em;
        width: 18em;
        font-weight: 2em; }
      .RegistroUsuario .contenedor .contenedorformulario #registro input:hover, .RegistroEstablecimiento .contenedor .contenedorformulario #registro input:hover, .IniciarSesion .contenedor .contenedorformulario #registro input:hover {
        background: #757575;
        border-color: #757575;
        color: #FFFFFF;
        cursor: pointer; }

.footer {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: 5em;
  background-color: #FD9927;
  width: 100%;
  position: absolute;
  bottom: 0;
  /*position:relative; 
  bottom:0em; 
  left:0em; */ }
  .footer::after {
    content: '';
    display: table;
    clear: both; }
  .footer:last-child {
    margin-right: 0%; }


