.informaEvento{
	.bloqueInfor{
		@include column(1, $offset: 0, $gutter: 0);
		padding-bottom: 20px;
	}
	
	h1{
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: 'AardvarkCafe';
		font-size: 2.4em;
		color: $oscuro;
	}

	h2{
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'AYearWithoutRain';
		font-size: 1.5em;
		color: $oscuro;
	}

	h3{
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: 'Roboto-Regular';
		font-size: 1em;
		color: $oscuro;
	}

	select{
		display: inline-block;
      	font-family: 'Roboto-Regular';
		font-size: 1em;
		color: $oscuro;
        width: 20%;  
        border: none;
        padding-bottom: 5px;
        padding-top: 5px;
		background-color: transparent;
    }

	.contendo{
		padding-left: 20px;
	}

	.bloqueInfor{
		@include column(1, $offset: 0, $gutter: 0);
	}

	.colMitad{
		@include column(1/2, $offset: 0, $gutter: 4);

		ul{
			-ms-display: flex;
			display: flex;
			align-items: center;
			li{
				display: inline-block;
				h1{
					font-family: 'AYearWithoutRain';
					font-size: 1.5em;
					padding-left: 10px;
				}
			}
			.encabeza{
				img{
					border-radius: 20px;
				}
			}
		}

		.descInfo{
			padding-top: 15px;
			p{
				font-family: 'Roboto-Regular';
				font-size: 1em;
				text-align: justify
			}
		}

		

	    .diasE, .listCatt{
	    	ul{
	    		li{
	        		margin-bottom: 10px;
	        		margin-left: 5px;
	        		background-color: $azulclaro;
					border-radius: 5px;
					h3{
						padding: 0px;
						color: $blanco;
					}
					padding: 5px 10px 5px 10px;	    		
				}
	    	}
	    }
	}

}