.iniciarSesion{
	
	.contene{
		@include column(4/8, $gutter: 0, $offset: 2/8);
		background-color: $blanco;
		text-align: center;

		.logoI{
			padding-top: 20px;
			img{
				max-width: 10%;
			}
		}

		h1{
			font-family: 'AardvarkCafe';
			font-size: 2.8em;
			color: $oscuro;
			text-align: center;
			cursor: default;
		}
	}

	.contenformulario{
		@include column(10/19, $offset: 9/38, $gutter: 0);
		text-align: center;
		padding-top: 15px;
		position: relative;

		li{
			margin-top: 1em;
			margin-bottom: 1em;
		}

		input{
			color: $oscuro;
			display: block;
			font-family: 'AYearWithoutRain';
			letter-spacing: .1em;
			border: none;
			border: solid $claro 1px;
			background-color: $blanco;
			font-size: 1.2em;
			width: 100%;
			padding: 5px;
			padding-left: 10px;
			margin-top: 0.3em;
			margin-bottom: 0.3em;
			box-sizing: border-box;
		}

		.registrar{
			@include column(1, $offset: 0, $gutter: 0);
			justify-content: center;
			input{
				@include column(4/5, $offset: 1/10, $gutter: 0);
				@include transition(0.4s);
				color: $negro;
				text-align: center;
				background-color: $naranja;
				border: 0px;
				border-radius: 10px;
				&:hover{
					background-color: $claro;
					color: $blanco;
					cursor: pointer;
				}
			}
		}

	}

	.vinculo{
		text-align: center;

		h3{
			font-family: 'AYearWithoutRain';
			font-size: .9em;
			color: $gris;
			text-align: center;
			cursor: default;
		}

		a{
			@include transition(0.4s);
			text-decoration: none;
			color: $azul;

			&:hover{
				color: $verde;
			}

		}

	}

}