.inicioEstablecimiento{
	.contCont{
		@include column(1, $offset: 0, $gutter: 0);
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.colum{
		@include column(15/30, $offset: 0, $gutter: 0);
	}

	.color{
		text-align: center;
	}

	.infor{
		
		h1{
			font-family: 'AardvarkCafe';
			font-size: 2.4em;
			color: $oscuro;
			padding-bottom: 15px;
		}

		h2{
			font-family: 'Roboto-Regular';
			font-size: 1.4em;
			color: $claro;
			padding-top: 15px;
			padding-bottom: 30px;
		}

		.formuCamb{
			
			@include column(3/4, $offset: 0, $gutter: 0);

			input{
				color: $oscuro;
				font-family: 'Roboto-Regular';
				border: none;
				border: solid $claro 1px;
				background-color: $blanco;
				font-size: 1.2em;
				width: 100%;
				padding: 5px;
				padding-bottom: 6px;
				padding-top: 6px;
				padding-left: 10px;
				margin-top: 0.3em;
				margin-bottom: 0.3em;
				box-sizing: border-box;
			}

			.col11{
				@include column(1, $offset: 0, $gutter: 0);
			}

			.col12{
				@include column(1/2, $offset: 0, $gutter: 0);
				input{
					width: 98%;
				}
			}

			.right{
				float: right;
			}

			.boton{
				@include column(3/5, $offset: 0, $gutter: 0);
				padding-top: 10px;
				input{
					@include transition(0.4s);
					padding: 7px;
					color: $negro;
					text-align: center;
					background-color: $azul;
					border: 0px;
					border-radius: 2px;
					&:hover{
						background-color: $claro;
						//color: $blanco;
						cursor: pointer;
					}
				}
			}

		}
	}

	.colimg{
		position: relative;
		text-align: center;
		display: inline-block;
		
		img{
			height: 100%;
			max-width: 100%;
			overflow: hidden;
		}

		/*.aqui{
			-ms-display: flex;
			display: flex;
			align-items: center;
		}

		.ghost{
			@include transition(0.4s);
			text-align: center;
			position: absolute;
			background-color: rgba(0, 0, 0, 0);
			bottom: 0px;
		    right: 0px;
		    width: 100%;
		    //padding-bottom: 50px;
		}

		a{
		 	@include transition(0.4s);
	    	min-width: 100%;
	    	display: block;
	    	text-decoration: none;
	    	color: transparent;
	    	z-index: 0;
	    	font-family: 'Roboto-Regular';
	    	font-size: 1.3em;
	    	padding: 0px;
		    bottom: 0px;
		    right: 0px;
		    padding-top: 20px;
		    padding-bottom: 20px;
	    }

	    &:hover{
	    	cursor: default;
	    	.ghost{
	    		cursor: pointer;
	    		@include transition(0.4s);
	    		background-color: rgba(31, 153, 149, 0.6);
	    	}
	    	a{
	    		@include transition(0.4s);
	    		color: $blanco;
	    	}
	    	@include transition(0.4s);
	    }*/

	}

	.formImage{
		//@include column(13/15, $gutter: 0, $offset: 1/15);
		/*text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;

		h1{
			font-family: 'Roboto-Light';
			font-size: 1.5em;
			padding-bottom: 15px;
			padding-top: 10px;
		}

		form{
			
			input{
				font-size: 1em;
			}

		}*/

		.ImagenFile{
			padding-top: 10px;
			-ms-display: flex;
			display: flex;
			align-items: center;
			
			input{
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				margin: auto;
			}
			
			label[for]{
				max-width: 76%;
			    font-size: 1.25rem;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    cursor: pointer;
			    display: block;
			    margin: auto;
			    overflow: hidden;
			    border: 1px solid $azul;	    
			}

			label span {
			    width: 70px;
			    min-height: 1.2em;
			    display: table-cell;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			    vertical-align: middle;
			    color: $claro;
			    font-family: 'Roboto-Regular';
			    font-size: .8em;
			    padding: 13px 5px 10px 5px;
			}

			label strong{
				@include transition(0.4s);
				min-height: 1.1em;
				display: table-cell;
				background-color: $azul;
				color: $blanco;
				font-family: 'Roboto-Regular';
			    font-size: .8em;
				padding: 13px 5px 10px 5px;
			}

			label strong:hover{
				background: $azulclaro;
				border-color: $azulclaro;
				cursor: pointer;
			}

			label:hover{
				border-color:$azulclaro;
			}

			label i {
			    width: 1em;
			    height: 1em;
			    vertical-align: middle;
			    fill: currentColor;
			    padding-left: .3em;
			    margin-top: -0.25em;
			    /* 4px */
			    margin-right: 0.25em;
			    /* 4px */
			}
		}

	}

}