//En este apartado se ponen los estilos estándares
@font-face {
  font-family: 'AardvarkCafe';
  src: url('fonts/AardvarkCafe.eot?#iefix') format('embedded-opentype'),  url('fonts/AardvarkCafe.woff') format('woff'), url('fonts/AardvarkCafe.ttf')  format('truetype'), url('fonts/AardvarkCafe.svg#AardvarkCafe') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abstrec';
  src: url('fonts/Abstrecfonttfb.eot?#iefix') format('embedded-opentype'),  url('fonts/Abstrecfonttfb.woff') format('woff'), url('fonts/Abstrecfonttfb.ttf')  format('truetype'), url('fonts/Abstrecfonttfb.svg#Abstrecfonttfb') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AYearWithoutRain';
  src: url('fonts/AYearWithoutRain.eot?#iefix') format('embedded-opentype'),  url('fonts/AYearWithoutRain.woff') format('woff'), url('fonts/AYearWithoutRain.ttf')  format('truetype'), url('fonts/AYearWithoutRain.svg#AYearWithoutRain') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabrielle';
  src: url('fonts/Gabrielle.eot?#iefix') format('embedded-opentype'),  url('fonts/Gabrielle.woff') format('woff'), url('fonts/Gabrielle.ttf')  format('truetype'), url('fonts/Gabrielle.svg#Gabrielle') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf')  format('truetype'), url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf')  format('truetype'), url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Colores:
$blanco: #FFFFFF;
$negro: #000000;
$oscuro: #353535;
$claro: #7F7F7F;
$suave: #EFEFEF;
$naranja: #FD9927;
$rojo: #EB363C;
$gris: #757575;
$azul:#36A6F8;
$verde: #3AC451 ;
//Espacios:

body{
}

img{
	max-width: 100%;
}

div{
	box-sizing: border-box;
}

.contenedorComun{
  @include column(30/34, $offset: 2/34, $gutter: 0);
}

.clearHelper{
  clear: both;
}
