.listaEvento{
	@include column(1, $offset: 0, $gutter: 0);
	
	.informacionTop{
		@include column(1, $offset: 0, $gutter: 0);
		padding-bottom: 20px;
	}

	.miniMenu{
		@include column(1, $offset: 0, $gutter: 0);
		padding-top: 15px;
		ul{
			li{
				display: inline-block;
			}
		}

		.seleccionEstado{
			padding-top: 15px;
			p, select{
				display: inline-block;
				color: $oscuro;
				font-family: 'AYearWithoutRain';
				letter-spacing: .1em;
				font-size: 1.2em;
			}

			select{
				padding-left: 5px;
				border: none;
				&:hover{
					cursor: pointer;
				}
			}
		}

		.busqueda{
			float: right;
			form{
				position: relative;
			}

			input{
				color: $oscuro;
				font-family: 'AYearWithoutRain';
				letter-spacing: .1em;
				border: 2px solid $claro;
				background-color: $blanco;
				font-size: 1.2em;
				width: 85%;
				padding: 5px;
				padding-left: 10px;
				margin-top: 0.3em;
				margin-bottom: 0.3em;
				border-radius: 5px;
				padding-right: 35px;
			}
			button{
				color: $claro;
				position: absolute;
				background-color: transparent;
				border: none;
				top: 5px;
			    right: -10px;
			    bottom: 5px;
			    padding-left: 10px;
			    padding-right: 10px;
			    i{
			    	font-size: 1.4em;
			    }
				&:hover{
					cursor: pointer;
					i{
						color: $oscuro;
					}
				}
				border-radius: 5px;
			}
		}


	}

	h1{
		@include column(1, $offset: 0, $gutter: 0);
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: 'AardvarkCafe';
		font-size: 2.4em;
		color: $oscuro;
	}

	.concurrencia{
		@include column(1, $offset: 0, $gutter: 0);
	}

	.mitadC{
		@include column(1/2, $offset: 0, $gutter: 0);
		padding-bottom: 30px;
	}

	.lista{
		@include column(8/10, $offset: 0, $gutter: 0);
		@include transition(0.6s);
		background: $azulclaro;
		border-radius: 5px;
		margin-top: 10px;

		ul{
			li{
				display: inline-block;
				padding: 5px 10px 5px 10px;
				p, a{
					@include transition(0.6s);
					font-family: 'Roboto-Regular';
					font-size: 1.3em;
					color: $oscuro;
				}

				a{
					text-decoration: none;
				}
				
				i{
					@include transition(0.6s);
					font-size: 1.3em;
					color: $oscuro;
				}
				-webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			}

			.eventLink:hover{
				a{
					@include transition(0.6s);
					color: $oscuro;
					font-weight: 900;
					text-shadow: 2px 2px 4px $blanco;
				}
			}

			.cruz{
				float: right;
			}
		}
		&:hover{
			@include transition(0.6s);
			cursor: pointer;
			background-color: $azul;
			p, a, i{
				@include transition(0.6s);
				color: $blanco;
			}
		}
	}

	.open{
	    background: $aqua;
	    ul{
	    	li{
	    		p, i, a{
	    			color: $blanco;
	    		}
	    	}
	    }
	}

	.contenidoLista{
		@include column(8/10, $offset: 0, $gutter: 0);
		display: none;
		padding-top: 5px;
	    overflow: auto;
	    .contenerilo{
			border: 1px solid $azulclaro;
			border-radius: 5px;
			padding: 10px 20px 20px 20px;

			.comentario{
				border: 1px solid $claro;
				margin-top: 8px;
				border-radius: 3px;
				.datoComen{
					padding-top: 10px;
					.nombre{
						display: inline-block;
					}

					.fecha{
						display: inline-block;
						float: right;
					}

					h1{
						font-size: 1em;
						padding: 0px;
						padding-left: 10px;
						padding-right: 10px;
						font-family: 'Roboto-Regular';
					}
				}
				.contenidoComen{
					font-family: 'Roboto-Regular';
					font-size: 1em;
					text-align: justify;
					padding: 10px 10px 10px 10px;
				}
			}

			.beautifulStar{
				text-align: right;
				.starComen{
					i{
						font-size: 1.3em;
						padding-left: 3px;
						color: $amarillo;
					}
				}
			}
	    }
	}

}