//En este apartado se ponen "funciones" para los estilos

@mixin transition($tiempo){
    transition: all $tiempo ease-in-out;
    -moz-transition: all $tiempo ease-in-out;
    -webkit-transition: all $tiempo ease-in-out;
}

@mixin centerImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin vertical-align{
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}