.Promocion, .Evento
{
	@include column(1, $offset: 0, $gutter: 0);
	z-index: 1;
	overflow: hidden;
	padding-bottom: 3em;
	margin-top: 3%;
	h1
	{
		font-family: 'AardvarkCafe';
		font-size: 2.5em;
		color:$oscuro;
		text-align: center;
	}
	.contenedorformulario
	{
		@include column(1/3, $offset: 1/3, $gutter: 0);
		input, textarea
		{
			font-family: AYearWithoutRain;
			font-size: 1.2em;
			width: 18em;
			display: block;
			margin: auto;
			margin-top: 1em;
			//margin-bottom: 1em;
		}
		h2, label
		{
			font-family: AYearWithoutRain;
			font-size: 1.2em;
			color: $gris;
			text-align: center;
			margin-top: 1em;
		}
		h3
		{
			font-family: AYearWithoutRain;
			padding-bottom: .5em;
			font-size: .8em;
			color: $gris;
			text-align: center;
		}
		input[type=submit]
		{
			@include transition(0.4s);
			font-weight: 500;
			background: $azul;
			color:$blanco;
			border: 1px solid $azul;
			border-radius: .3em;
			width: 18em;
			//font-weight: 2em;
			padding: 0.625rem;
			font-size: 1.2em;
			margin-bottom: 3em;
		}
		input[type=submit]:hover
		{
			background: $gris;
			border-color: $gris;
			color: $blanco;
			cursor: pointer;
		}
		.contenedorvarios
		{		
			.ContenedorCalendario
			{
				@include column(2/3, $offset: 1/6, $gutter: 0);
				padding-top: 1em;
				#calendario
				{
					display: block;
					margin: auto;
				}
			}
			//width: 20em;
			@include column(1, $offset: 0, $gutter: 0);
			display: block;
			margin: auto;
			h3
			{
				padding-bottom: .5em;
				font-size: .8em;
			}
			input
			{
				width: 7em;	
				display: block;
				margin: auto;
				color: $gris;
			}
			.parte12
			{
				@include column(1/2, $offset: 0, $gutter: 0);
				padding-bottom: 1em;
				.izq
				{
					padding-left: 1em;
				}
				.der 
				{
					padding-right: 1em;
				}
			}
		}
		#agregarperiodo
		{
			@include column(2/5, $offset: 11/20, $gutter: 0);
			input
			{
				@include transition(0.4s);
				background: none;
				color: $azul;
				width: 7em;
				border: none;
				margin-bottom: 1em;
			}
			input:hover
			{
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.ImagenFile
		{
			margin-top: 1em;
			input
			{
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				margin: auto;
			}
			label[for]
			{
				max-width: 76%;
			    font-size: 1.25rem;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    cursor: pointer;
			    display:block;
			    margin: auto;
			    overflow: hidden;
			    border: 1px solid $naranja;	    
			}

			label span 
			{
			    width: 160px;
			    min-height: 1.2em;
			    display: table-cell;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			    vertical-align: top;
			    padding: 0.625rem 1.5rem;
			}
			label strong
			{
				@include transition(0.4s);
				min-height: 1.1em;
				display: table-cell;
				background-color: $naranja;
				padding: 0.7rem 1.25rem;
				color:$blanco;
			}
			label strong:hover
			{
				background: $naranjaclaro;
				border-color: $naranjaclaro;
				cursor: pointer;
			}
			label:hover
			{
				border-color:$naranjaclaro;
			}
			label svg 
			{
			    width: 1em;
			    height: 1em;
			    vertical-align: middle;
			    fill: currentColor;
			    margin-top: -0.25em;
			    /* 4px */
			    margin-right: 0.25em;
			    /* 4px */
			}
		}
	}
}