.registroEstablecimiento{
	@include column(1, $offset: 0, $gutter: 0);
	padding-bottom: 20px;

	h1{
		text-align: center;
		padding-bottom: 30px;
	    font-family: 'AardvarkCafe';
	    font-size: 2.4em;
	    color: $oscuro;
	}

	.contenedorformulario{
		@include column(1/3, $offset: 1/3, $gutter: 0);
		text-align: center;

		input, textarea{
			color: $oscuro;
			display: block;
			font-family: 'Roboto-Regular';
			border: none;
			border: solid $claro 1px;
			background-color: $blanco;
			font-size: 1.2em;
			width: 100%;
			padding: 5px;
			padding-left: 10px;
			margin-top: 0.3em;
			margin-bottom: 0.3em;
			box-sizing: border-box;
			resize: none;
		}

		h2{
			@include column(1, $offset: 0, $gutter: 0);
			font-family: 'AYearWithoutRain';
			font-size: 1.4em;
			color: $oscuro;
			text-align: center;
			margin-top: 1em;
		}

		h3{
			padding-top: 10px;
			font-family: 'Roboto-Regular';
			font-size: 1.2em;
			color: $claro;
		}
		
		h4{
			font-family: 'Roboto-Light';
			font-size: .8em;
			padding-bottom: 8px;
			color: $gris;
			text-align: center;
		}

		.contenedorhorario{
			width: 20em;
			height: 4em;
			display: block;
			margin: auto;

			input{
				font-family: 'Roboto-Regular';
				text-align: center;
				width: 70%;	
				display: block;
				margin: auto;
				color: $gris;
				border: none;
				border-bottom: solid $claro 1px;
			}

			.parte12{
				@include column(1/2, $offset: 0, $gutter: 0);
				padding-bottom: 1em;

				h3{
					padding-bottom: 4px;
				}
			}
		}

		.contenedorDias{
			@include column(1, $offset: 0, $gutter: 0);
				
			.contDay{
				@include column(1, $offset: 0, $gutter: 0);
			}

			.contenedor3{
				@include column(1/3, $offset: 0, $gutter: 0);
			}

			.contenedor4{
				@include column(1/4, $offset: 0, $gutter: 0);
			}

			input{
				visibility: hidden;
				display: inline-block;
			}

			label[for]{
				@include transition(0.4s);
				background: $blanco;
				color: $gris;
				font-family: 'Roboto-Regular';
				font-size: 1em;
				border: 1px solid $gris;
				border-radius: 5px;
				position: relative;
				display: inline-block;
				width: 80%;
				padding-top: 5px;
				padding-bottom: 5px;
			}

			label:hover{
				@include transition(0.4s);
				background: $gris;
				color: $blanco;
				cursor: pointer;
			}
			
			input:checked + label.dias{
				background: $azulclaro;
				color: $blanco;
				cursor: pointer;
				border: 1px solid $azulclaro;
			}

			padding-bottom: 1em;
			
		}

		.agregarHorario{
			text-align: right;
			padding-top: 15px;
			padding-bottom: 15px;

			a{
				@include transition(0.4s);
				display: inline-block;
				font-family: 'AYearWithoutRain';
				font-size: 1.1em;
				color: $blanco;
				padding: 8px 20px 8px 20px;
				background-color: $naranjaclaro;
				border-radius: 3px;
				&:hover{
					@include transition(0.4s);
					cursor: pointer;
					background-color: $azulclaro;
				}
			}
		}

		.muestraTime{
			@include column(1, $offset: 0, $gutter: 0);
			text-align: center;
			padding-top: 10px;
			display: none;
			
			table{
			    border-collapse: collapse;
			    display: inline-block;
			    max-width: 100%;
			}

			td, th {
			    border: 1px solid $oscuro;
			    text-align: left;
			    padding: 8px;
			}

			td{
				font-family: 'Roboto-Regular';
				text-align: center;
				font-size: 1em;
			}

			th{
				font-family: 'AYearWithoutRain';
				text-align: center;
				font-size: 1em;
				background-color: $claro;
				color: $blanco;
			}

			.elimiFiles{
				a{
					@include transition(0.4s);
					font-family: 'AYearWithoutRain';
					font-size: 1em;
					color: $oscuro;
					&:hover{
						cursor: pointer;
						@include transition(0.4s);
						color: $rojo;
					}
				}
			}

			.selDay{
				select{
					font-family: 'Roboto-Regular';
					font-size: 1em;
					color: $oscuro;
		            border: none;
					background-color: transparent;
				}
			}

			/*tr:nth-child(even) {
			    background-color: $verde;
			}*/

		}

		.mara{
			padding-bottom: 20px;
		}

		#mapa{
			width: 100%;
			height: 500px;
			display: block;
			margin: auto;
		}

		.centro{
			-ms-display: flex;
			display: flex;
			align-items: center;
		}

		.opcMap{
			@include column(1, $offset: 0, $gutter: 0);

			.colM25{
				@include column(2/5, $offset: 0, $gutter: 0);

				a{
					@include transition(0.4s);
					font-family: 'AYearWithoutRain';
					font-size: 1.3em;
					background-color: $claro;
					color: $blanco;
					border: 1px solid $claro;
					display: block;
					margin: auto;
					border-radius: 5px;
					padding-top: 10px;
					padding-bottom: 10px;
					&:hover{
						cursor: pointer;
					}
				}

				.obtener:hover{
					@include transition(0.4s);
					background-color: $rojo;
					border: 1px solid $rojo;
				}

				.traducir:hover{
					@include transition(0.4s);
					background-color: $verde;
					border: 1px solid $verde;
				}
			}

			.colM15{
				@include column(1/5, $offset: 0, $gutter: 0);
				text-align: center;
				h2{
					font-family: 'Roboto-Regular';
					display: block;
					margin-top: 0;
					&:hover{
						cursor: default;
					}
				}
			}
		}

		.userForm{
			@include column(1, $offset: 0, $gutter: 0);
			padding-top: 15px;
		}

		#margen{
			margin-top: 1em;
		}

		.contenedorApellidos{
			width: 22em;
			display: block;
			margin: auto;
			
			#apellidos{
				@include column(1/2, $offset: 0, $gutter: 0);
				padding-bottom: 1em;
				float: left;
				
				input{
					width:95%;
				}
			}
		}

		.vinculo{
			display: block;
			padding-bottom: 10px;

			h3{
				font-family: 'AYearWithoutRain';
				font-size: 1.1em;
				display: inline-block;
			}

			a{ 
				@include transition(0.4s);
				margin-left: 8px;
				font-family: 'AYearWithoutRain';
				font-size: 1.1em;
				text-decoration: none;
				color: $azul;
				display: inline-block;
				&:hover{
					@include transition(0.4s);
					color: $verde;
				}
			}
		}

		#registro{
			
			input{
				@include transition(0.4s);
				background: $azul;
				color:$oscuro;
				border: 1px solid $azul;
				border-radius: .3em;
				width: 18em;
				font-weight: 2em;
			}

			input:hover{
				background: $gris;
				border-color: $gris;
				color: $blanco;
				cursor: pointer;
			}
		}

		.col11{
			@include column(1, $offset: 0, $gutter: 0);
		}

		.col12{
			@include column(1/2, $offset: 0, $gutter: 0);
			input{
				width: 98%;
			}
		}

		.right{
			float: right;
		}

		.checka{
			padding-top: 5px;
			-ms-display: flex;
		  	display: flex;
		  	align-items: center;

			input[type="checkbox"] {
			    display: inline-block;
			    width: 19px;
			    height: 19px;
			    margin-left: 0px;
			}

			input[type="checkbox"]:hover {
				cursor: pointer;
			}

			label{
				font-size: 1em;
				font-family: 'AYearWithoutRain';
				color: $oscuro;
			} 

			a{
				@include transition(0.4s);
				text-decoration: none;
				font-size: 1em;
				font-family: 'AYearWithoutRain';
				color: $azul;
				padding-left: 4px;
				
				&:hover{
					color: $verde;
				}

			}

		}

		.boton{
			@include column(4/5, $offset: 1/10, $gutter: 0);
			padding-top: 10px;
			justify-content: center;
			input{
				@include transition(0.4s);
				border: 1px solid #36A6F8;
			    border-radius: 5px;
			    padding: 10px 20px 10px 20px;
			    font-size: 1.2em;
				font-family: 'AYearWithoutRain';
				color: $blanco;
				text-align: center;
				background-color: $azul;
				border: 0px;
				&:hover{
					background-color: $claro;
					cursor: pointer;
				}
			}
		}
		padding-bottom: 30px;
	}
}

