.RegistroUsuario, .RegistroEstablecimiento, .IniciarSesion
{
	@include column(1, $offset: 0, $gutter: 0);
	z-index: 1;
	overflow: hidden;
	padding-bottom: 3%;
	margin-bottom: 3em;
	.contenedor
	{
		margin-top: 3%;

		h1
		{
			font-family: 'AardvarkCafe';
			font-size: 2.5em;
			color:$oscuro;
			text-align: center;
		}
		.contenedorformulario
		{
			@include column(1/3, $offset: 1/3, $gutter: 0);
			li
			{
				margin-top: 1em;
				margin-bottom: 1em;
			}
			input
			{
				font-family: AYearWithoutRain;
				font-size: 1.2em;
				width: 18em;
				display: block;
				margin: auto;
			}
			h2,h3, label
			{
				font-family: AYearWithoutRain;
				font-size: 1.2em;
				color: $gris;
				text-align: center;
			}
			.contenedorhorario
			{
				width: 20em;
				height: 4em;
				display: block;
				margin: auto;

				h3
				{
					padding-bottom: .5em;
					font-size: .8em;
				}
				input
				{
					width: 6.5em;	
					display: block;
					margin: auto;
					color: $gris;

				}
				.parte12
				{
					@include column(1/2, $offset: 0, $gutter: 0);
					padding-bottom: 1em;
				}
			}
			.contenedordias
			{
				width: 22em;
				display: block;
				margin: auto;
				.contenedor4, .contenedor3
				{
					@include column(1/4, $offset: 0, $gutter: 0);
					input
					{
						visibility: hidden;
						display: inline-block;
					}
					label[for]
					{
						@include transition(0.4s);
						background: $blanco;
						color:$gris;
						border: 1px solid $gris;
						border-radius: .15em;	
						width: 3.5em;
						padding: .25em;
						position: relative;
						display: inline-block;
					}
					label:hover
					{
						background: $gris;
						color:$blanco;
						cursor: pointer;
					}
					input:checked + label.dias
					{
						background: $azul;
						color:$blanco;
						cursor: pointer;
						border: 1px solid $azul;
					}
					padding-bottom: 1em;
				}
				.contenedor3
				{
					@include column(1/3, $offset: 0, $gutter: 0);
				}
			}
			#agregarhorario
			{
				@include column(1/5, $offset: 3/5, $gutter: 0);
				input
				{
					@include transition(0.4s);
					background: none;
					color: $azul;
					font-size: 1.2em;
					width: 7em;
					border: none;
					padding-bottom: 1em;
				}
				input:hover
				{
					color: $naranja;
					cursor: pointer;
				}
			}
			textarea
			{
				width: 18em;
				font-family: AYearWithoutRain;
				color: $gris;
				display: block;
				margin: auto;
				font-size: 1.2em;
			}
			#mapa
			{
				height: 500px;
				width: 444px;
				display: block;
				margin: auto;
			}
			#inputmapa
			{
				margin-top: 1em;
				margin-bottom: 1em;
				input
				{
					@include transition(0.4s);
					background: $azul;
					color:$oscuro;
					border: 1px solid $azul;
					width: 12em;
					display: block;
					margin: auto;
					border-radius: .3em;
				}
				input:hover
				{
					background: $naranjaclaro;
					border-color: $naranjaclaro;
				}
			}
			#margen {
				margin-top: 1em;
			}
			.contenedorApellidos
			{
				width: 22em;
				display: block;
				margin: auto;
				#apellidos
				{
					@include column(1/2, $offset: 0, $gutter: 0);
					padding-bottom: 1em;
					float: left;
					input
					{
						width:95%;
					}
				}
			}

			#vinculo
			{
				width: 20em;
				display: block;
				margin: auto;
				input
				{
					display: inline-block;
					width: 1em;
				}
				h3
				{
					display:inline-block;
				}
				a
				{ 
					text-decoration: none;
					color: $azul;
					display: inline-block;
				}
				a:hover
				{
					text-decoration: underline;
				}
			}
			#registro
			{
				
				input
				{
					@include transition(0.4s);
					background: $azul;
					color:$oscuro;
					border: 1px solid $azul;
					border-radius: .3em;
					width: 18em;
					font-weight: 2em;
				}
				input:hover
				{
					background: $gris;
					border-color: $gris;
					color: $blanco;
					cursor: pointer;
				}
			}
		}
	}
}

