.resultado{
	@include column(1, $offset: 0, $gutter: 0);
	padding-bottom: 30px;

	.titulo{
		h1{
			@include column(1, $offset: 0, $gutter: 0);
			padding-top: 30px;
			padding-bottom: 30px;
			font-family: 'AardvarkCafe';
			font-size: 2.4em;
			color: $oscuro;
		}
	}

	.contYear, .contMultiYear, .contYesterday, .contWeek, .contMonth{
		@include column(1, $offset: 0, $gutter: 0);
		padding-bottom: 30px;
		h1{
			font-family: 'AYearWithoutRain';
			font-size: 1.7em;
			padding-bottom: 10px;
		}
	}

	.contMultiYear, .contYear{
		display: none;
	}

	.opcion{
		-ms-display: flex;
		display: flex;
		align-items: center;
		-webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		padding-bottom: 15px;
		
		.indicador{
			h2{
				font-family: 'AYearWithoutRain';
				font-size: 1em;
				color: $negro;
				display: inline-block;
				padding-right: 5px;
			}

			a{
				@include transition(0.4s);
				font-family: 'AYearWithoutRain';
				font-size: 1em;
				padding: 2px 7px 2px 7px;
				color: $negro;
				background-color: $naranja;
				border-radius: 10px;
				&:hover{
					@include transition(0.4s);
					color: $blanco;
					background-color: $naranjaoscuro;
					cursor: pointer;
				}
			}
		}

		.consulta{
			select{
				display: inline-block;
	          	font-family: 'AYearWithoutRain';
				font-size: 1em;
				color: $negro;
	            border: none;
				background-color: transparent;
			}

		}
	}

	.yesterday, .week, .month{
		p{
			text-align: center;
			font-family: 'AYearWithoutRain';
			font-size: 1.2em;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.bloqueInY, .bloqueInMY, .bloqueInYes, .bloqueInW, .bloqueInM{
		@include column(1, $offset: 0, $gutter: 0);
		-ms-display: flex;
		display: flex;
		align-items: center;	
	}

	.bloqueInYes, .bloqueInW, .bloqueInM{
		display: none;
	}

	.graficas{
		@include column(2/3, $offset: 0, $gutter: 0);
		position: relative;
	}

	.estrellas{
		@include column(1/3, $offset: 0, $gutter: 0);
		-webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
		text-align: center;
		h3{
			font-family: 'AYearWithoutRain';
			font-size: 1.2em;
			padding-bottom: 10px;
			color: $oscuro;
			letter-spacing: 3px;
		}
		.starY, .starMY, .starYes, .starW, .starM{
			i{
				font-size: 1.7em;
				color: $amarillo;
			}
		}
	}

	.simbologiaY, .simbologiaMY, .simbologiaYes, .simbologiaW, .simbologiaM{
		@include column(2/3, $offset: 0, $gutter: 0);
		text-align: center;
		padding-top: 10px;

		#cuadroY{
			display: inline-block;
		}

		h1{
			display: inline-block;
			padding-left: 10px;
			padding-right: 25px;
			font-family: 'AYearWithoutRain';
			font-size: 1.2em;
		}
	}
}