//Inicialización
@import "compass";
@import "compass/reset";
//Jeet
@import 'jeet/index.scss';
//mixins
@import "_mixins.scss";
//Contenido de la página
@import '_init.scss';
@import '_home.scss';
@import "partial/_headerIndex.scss";
@import "partial/_headerRegistro.scss";
//Registro
@import 'partial/_headerRegistro.scss';
@import '_registros.scss';
@import 'partial/_footer.scss';

