.agregaImagen
	.formImage
		h1 Cambiar imagen
		form
			input(name='file-input', type='file' id='file-input')
			br
			img(width='50%', height='50%', src='' id='imgSalida')

script(src='minjs/general-dist.js?version=' + version type='text/javascript')