doctype
html(lang="es")
	head
		include include/head
	body.outEstablecimiento
		include include/headerEstablecimiento
		|<?php include 'webService/conexion.php';?>
		.contenedorComun
			.submenuEvent
				.opcionF
					h1 Eventos
				.opcionS
					a(href="registroEvento.php") Agregar Evento
			.listaIni
				.listaEventos
					ul
						|<?php
						| $bandera=0;
						| $obtenerEventos="SELECT evento.IdEvento, evento.Nombre FROM evento WHERE Establecimiento='{$_SESSION['establecimiento']}' ORDER BY IdEvento DESC";
						| $resultado_obtenerEventos=mysqli_query($conexion, $obtenerEventos);
						| while($evento = mysqli_fetch_array($resultado_obtenerEventos)){		
						| 	$id=$evento[0];
						| 	$obtenerEvento="SELECT Nombre, Descripcion, PrecioMayor, PrecioMenor, Imagen FROM evento WHERE IdEvento='{$id}' AND (SELECT duracionevento.Fecha from duracionevento where duracionevento.Evento='{$id}' ORDER BY duracionevento.Fecha DESC LIMIT 1) >= date(now())";
						| 	$resultado_obtenerEvento=mysqli_query($conexion, $obtenerEvento);
						| 	if($Evento = mysqli_fetch_array($resultado_obtenerEvento)){
						| 		$ImagenF='/Imagenes/'.$Evento[4];
						| 		$bandera=1;
						| 		echo "<div class='eventoTitulo'><h4><li id='$evento[0]'> $evento[1]</li></h4></div>";
						| ?>
						.bloqueEvento
							.ladear1
									.nombre
										h1 <?php echo utf8_encode($Evento[0]); ?>
										
									.ilustracion
										img(src="<?php echo $ImagenF; ?>")

									.deleUp 
										.btn.updateE
											form(name="ModificararEvento" method="POST" action="modificaEvento.php")
												|<?php echo "<input type='hidden' name='eventoModificar' value=$id>"; ?>
												a
													input(type="submit" name="Modificar" value="Modificar") 
													i.fa.fa-pencil(aria-hidden='true')
										.btn.deleteE
											form(name="EliminarEvento" id="EliminarEvento" method="POST")
												|<?php echo "<input type='hidden' name='eventoEliminar' id='eventoEliminar' value=$id>"; ?>
												a
													input(type="submit" name="Eliminar" value="Eliminar") 
													i.fa.fa-trash(aria-hidden='true')

							.ladear2.parte2
									.informacion
										h1 Descripción

										.contenido.desc
											h2 <?php echo utf8_encode($Evento[1]); ?>

										h1 Precio:

										.contenido
											h2 de $<?php echo $Evento[3]; ?> a $<?php echo $Evento[2]; ?>

										h1 Categorias:

										.contenido.catCandy
											|<?php 
											| $obtenerCategorias="SELECT subcategoria.Nombre FROM categoriaevento INNER JOIN subcategoria on categoriaevento.Subcategoria=subcategoria.IdSubcategoria and categoriaevento.Evento='{$id}'";
											| $resultado_obtenerCategorias=mysqli_query($conexion, $obtenerCategorias);
											| while($subc = mysqli_fetch_array($resultado_obtenerCategorias)){
											|	echo "<div class='envoltura'>";
											|	$sub=utf8_encode($subc[0]);
											|	echo "<h3>$sub</h3>";
											|	echo "</div>";
											| }
											|?>
											
										.informacion
											h1 Horario:

										.muestraHorarioE
											table#tabla
												thead
													tr
														th Día
														th Horario
												tbody
													|<?php 
													| $obtenerDuracion="SELECT IdDuracionEvento, Fecha, HoraInicio, HoraFin FROM duracionEvento WHERE Evento='{$id}'";
													| $resultado_obtenerDuracion=mysqli_query($conexion, $obtenerDuracion);
													| while($dur = mysqli_fetch_array($resultado_obtenerDuracion)){
													| echo "<tr>";
													| echo "<th>$dur[1]</th>";
													| echo "<th>$dur[2]-$dur[3]</th>";
													| echo "</tr>";
													| }
													|?>
						<?php }	} if($bandera==0){echo"<h5>No se encontraron eventos vigentes</h5>";}?>

										//-.contenido
												select(name='dias' id="diasEvento")
													option(value='-1')
														|Dias
													|<?php 
													| $obtenerDuracion="SELECT IdDuracionEvento, Fecha FROM duracionevento WHERE evento='{$id}'";
													|$resultado_obtenerDuracion=mysqli_query($conexion, $obtenerDuracion);
													|while($dur = mysqli_fetch_array($resultado_obtenerDuracion))
													|{
													|	echo "<option value='$dur[0]'>$dur[1]</h3>";
													|	echo "</div>";
													|}
													|?>
												select(name='hora' id="horaEvento")
													option(value='-1', selected='')
														| Horario
													|<?php
													|$obtenerDuracion="SELECT IdDuracionEvento, HoraInicio, HoraFin FROM duracionevento WHERE evento='{$id}'";
													|$resultado_obtenerDuracion=mysqli_query($conexion, $obtenerDuracion);
													|while($dur = mysqli_fetch_array($resultado_obtenerDuracion))
													|{
													|	echo "<option value='$dur[0]'>$dur[1]-$dur[2]</option>";
													|}
													|?>
	
		include include/footer
		script(type='text/javascript', src='js/despliegueEventoProm.js')
		script(type='text/javascript', src='js/envioDatos.js')