doctype
html(lang="es")
	head
		include include/head
	body.home
		include include/headerIndex
		.contenedorComun
			.contenedor
				.titulo
					h1 PORQUE HAY TANTO POR HACER
				.contenedorRegistro
					.registro

						.iniciar
							.texto
								h1#textCount Ingresa con tu cuenta
						
						.formularioInicio
							form
								.col11
									input(type="text" name="Vcorreo" placeholder="Correo Electrónico" id="Vcorreo")
								.col11
									input(type="password" name="Vpass" placeholder="Contraseña" id="Vpass")
								.boton
									input(type="submit" name="iniciaSesion" value="Iniciar Sesión")

						.opcion
							.col922
							.col422
								h3 o
							.col922

						.usuario
							.icono
								img(src="img/usuario.png")
							.textoUsuario.texto
								h1#textUser
									| Registra tu cuenta
									br
									| de Usuario

						.formularioUsuario
							form
								.col11
									input(type="text" name="nombre" placeholder="Nombre" id="Usuario")
								.col12
									input(type="text" name="app" placeholder="Apellido Paterno")
								.col12
									input.right(type="text" name="apm" placeholder="Apellido Materno")
								.col11
									input(type="text" name="usuario" placeholder="Nombre de Usuario")
								.col11
									input(type="email" name="email" placeholder="Correo Electrónico")
								.col11
									input(type="password" name="password" placeholder="Contraseña")
								.checka.col11
									input(type="checkbox" name="valida")
									label Acepto los
									a(href="#Termino") Términos y Condiciones
								.boton
									input(type="submit" name="registroUsuario" value="Regístrate como Usuario")
								//-.mensajeInicio.col11
									label O bien si ya tienes cuenta
									a(href="#InicioSesion") Inicia Sesión

						.opcion
							.col922
							.col422
								h3 o Bien
							.col922

						.registrate
							.icono
								img(src="img/registro.png")
							.textoEstablecimiento.texto
								h1 Publica tu Establecimiento
								ul
									li
										a(href="registroEstablecimiento.php") REGISTRATE
									li
										a(href="")
											i.fa.fa-angle-right(aria-hidden='true')
		.local
			img(src="img/local.jpg")
		.raro


		include include/footer
