doctype
html(lang="es")
	head
		include include/head
	body.home
		include include/headerIndex
		.contenedorComun
			.contenedor
				.titulo
					h1 PORQUE HAY TANTO POR HACER
				.contenedorRegistro
					.registro
						.registrate
							.icono
								img(src="img/registro.png")
							.textoEstablecimiento.texto
								h1 Publica tu Establecimiento
								ul
									li
										a(href="") REGISTRATE
									li
										a(href="")
											i.fa.fa-angle-right(aria-hidden='true')
						.opcion
							.col922
							.col422
								h3 o Bien
							.col922

						.usuario
							.icono
								img(src="img/usuario.png")
							.textoUsuario.texto
								h1 Registra tu cuenta de Usuario

						.formularioUsuario
							form
								.col11
									input(type="text" name="nombre" placeholder="Nombre")
								.col12
									input(type="text" name="app" placeholder="Apellido Paterno")
								.col12
									input.right(type="text" name="apm" placeholder="Apellido Materno")
								.col11
									input(type="text" name="usuario" placeholder="Nombre de Usuario")
								.col11
									input(type="email" name="email" placeholder="Correo Electrónico")
								.col11
									input(type="password" name="password" placeholder="Contraseña")
								.checka.col11
									input(type="checkbox" name="valida")
									label Acepto los
									a(href="#Termino") Términos y Condiciones
								.boton
									input(type="submit" name="registroUsuario" value="Regístrate como Usuario")




script(src='minjs/general-dist.js?version=' + version type='text/javascript')