doctype
html(lang="es")
	head
		include include/head
	body.home
		include include/headerIndex
		.contenedorComun
			.contenedor
				.titulo
					h1 PORQUE HAY TANTO POR HACER
				.contenedorRegistro
					.registro
						.registrate
							.icono
								img(src="img/registro.png")
							.textoEstablecimiento
								h1 Publica tu Establecimiento
								ul
									li
										a(href="") REGISTRATE
									li
										a(href="")
											i.fa.fa-angle-right(aria-hidden='true')



script(src='minjs/general-dist.js?version=' + version type='text/javascript')