.iniciarSesion
	.contene
		.logoI
			img(src="img/logo_sin_fondo.png")
		h1 Iniciar sesi칩n
		.contenformulario
			form
				ul
					li
						input(type='text', placeholder='Username o correo electr칩nico' name='UsuarioCorreo')
					li
						input(type='password', placeholder='Contrase침a' name='passwordI')
					li.registrar
						input(type="submit" name="sesion" value="Iniciar Sesi칩n")
					li.vinculo
						h3 Si no tienes cuenta 									
							a(href='https://www.youtube.com/?hl=es-419&gl=MX')  Registrate
