doctype
html(lang="es")
	head
		include include/head
	body.inEstablecimiento
		include include/headerEstablecimiento
		.contenedorComun
			h1 Agregar promoción
			.contenedorformulario
				form(method="POST" name="PromocionInsertar" id="PromocionInsertar")
					
					input(type='text', placeholder='Titulo de la promoción' name='NombrePromocion' id="NombrePromocion" required)
					textarea(rows="10", placeholder="Descripción", name="DescripcionP", maxlength="1200" required)
					
					h2 Horario
					input(type="hidden", id="idDiasP", name="idDiasP" value=0)
					.muestraHorarioP
						table(id="tabla")
							thead
								tr
									th No.
									th Días
									th Hr Inicio
									th Hr Termino
									th
							tbody
					
					.contenedorvarios
						.horario
							.ContenedorCalendario
								#calendario
							.parte12
								.izq
									h3 Hora inicio:
									h4 ( hrs:min )
									input(type='time', name='HoraInicioP', min="00:00", max="23:59", step="60" id="HoraInicioP" required)
							.parte12
								.der
									h3 Hora termino:
									h4 ( hrs:min )
									input(type='time', name='HoraTerminoP' id="HoraTerminoP" required)
							
							.agregarPeriodoP
								a(onclick="") Agregar Horario
					
					h2 Imagen del evento
					
					.prevImageP
						.showImgP
							img(src="", id='imgExitP')

					.ImagenArchivo
						input(type='file', name='fileInputP', id="fileInputP", value="Examinar" class="inputfile" accept="image/png, .jpeg, .jpg, image/gif" required)
						label(for="fileInputP") 
							strong Examinar
								i.fa.fa-upload(aria-hidden='true')
							span

					.buttonRE
						input(type="submit", value="AGREGAR PROMOCIÓN", id="AgregarEvento", name="AgregarEvento")
		
		include include/footer
		script(type='text/javascript', src='js/envioDatos.js')