doctype
html(lang="es")
	head
		include include/head
	body
		include include/headerRegistro
		.RegistroUsuario
			.contenedor
				h1 Regístrate como usuario
				.contenedorformulario
					form(method="POST" action="" name="RegistroUsuario" onsubmit='return ValidarRegistroUsuario()')
						ul
							li
								input(type='text', placeholder='Nombre de usuario' name='Usuario' id='Usuario' required)
							li
								.contenedorApellidos
									#apellidos
										input(type='text', placeholder='Apellido paterno' name='ApellidoPaterno' id='ApellidoPaterno' required)
									#apellidos
										input(type='text', placeholder='Apellido materno' name='ApellidoMaterno'  id='ApellidoMaterno' required)
							li
								input(type='text', placeholder='Username' name='Username' id='Username' required)
							li
								input(type='text', placeholder='Correo electrónico' name='CorreoElectronico' id='CorreoElectronico' required)
							li
								input(type='password', placeholder='Contraseña' name='Contrasena' id='Contrasena' required)
							li
								input(type='password', placeholder='Confirmar contraseña' name='ConfirmarContrasena' id='ConfirmarContrasena' required)
							li 
								#vinculo
									input(type='checkbox', value='Acepto', name='TerminosYCondiciones' required)
									h3 Acepto los 
										a(href='https://www.youtube.com/?hl=es-419&gl=MX') términos y condiciones
							li 
								#registro
									input(type='submit', value='REGISTRATE →', name='Registrar')
		include include/footer
