doctype
html(lang="es")
	head
		include include/head
	body
		include include/headerRegistro
		.RegistroUsuario
			.contenedor
				h1 Registra tu establecimiento
				.contenedorformulario
					form(method="POST" action="" name="RegistroEstablecimientoFormulario" onsubmit="return ValidarRegistroEstablecimiento()")
						ul
							li
								input(type='text', placeholder='Nombre del establecimiento' name='NombreEstablecimiento')
							li
								.contenedorhorario
									.parte12
										h2 Hora inicio
										h3 (hrs:min am/pm)
										input(type='time', name='HoraInicio', min="00:00", max="23:59", step="60" id="HoraInicio")
									.parte12
										h2 Hora termino
										h3 (hrs:min am/pm)
										input(type='time', name='HoraTermino' id="HoraTermino")
							li
								h2 Operatividad de días
							li
								.contenedordias
									.contenedor4
										input(type="checkbox", value="Lunes", name="lunes", id="lunes")
										label(for="lunes", class="dias") Lunes    
									.contenedor4
										input(type="checkbox", value="Martes", name="martes" id="martes")
										label(for="martes", class="dias") Martes   
									.contenedor4
										input(type="checkbox", value="Miercoles", name="miercoles", id="miercoles")
										label(for="miercoles", class="dias") Miércoles
									.contenedor4
										input(type="checkbox", value="Jueves", name="jueves", id="jueves")
										label(for="jueves", class="dias") Jueves
									.contenedor3
										input(type="checkbox", value="Viernes", name="viernes" id="viernes")
										label(for="viernes", class="dias") Viernes
									.contenedor3
										input(type="checkbox", value="Sábado", name="sabado", id="sabado")
										label(for="sabado", class="dias") Sábado
									.contenedor3
										input(type="checkbox", value="Domingo", name="domingo", id="domingo")
										label(for="domingo", class="dias") Domingo
							li 
								#agregarhorario
									input(type="button", value="Agregar horario", name="horario")
							li
								textarea( rows="10", placeholder="Descripción", name="descripcion", maxlength="1200")
							li
								h2 Ubicación del establecimiento
							li 
								input(type="button", value="Obtener mi ubicación actual", name="Mapa" onclick="FindMe()")
								#map
								#mapa
							li
								input(type='text', placeholder='Nombre de usuario' name='Usuario' id="Usuario")
							li
								.contenedorApellidos
									#apellidos
										input(type='text', placeholder='Apellido paterno' name='ApellidoPaterno')
									#apellidos
										input(type='text', placeholder='Apellido materno' name='ApellidoMaterno')
							li
								input(type='text', placeholder='Username' name='Username')
							li
								input(type='text', placeholder='Correo electrónico' name='CorreoElectronico')
							li
								input(type='password', placeholder='Contraseña' name='Contrasena')
							li
								input(type='password', placeholder='Confirmar contraseña' name='ConfirmarContrasena')
							li 
								#vinculo
									input(type='checkbox', value='Acepto', name='TerminosYCondiciones')
									h3 Acepto los 
										a(href='https://www.youtube.com/?hl=es-419&gl=MX') términos y condiciones
							li 
								#registro
									input(type='submit', value='REGISTRA TU ESTABLECIMIENTO →', name='Registrar')
		include include/footer
script(src='minjs/general-dist.js?version=' + version type='text/javascript')
script( async defer src="https://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyD8YRTasiEr2BNxFPo-9TLVVsdxBW-TcQ0&callback=initMap")
