doctype
html(lang="es")
	head
		include include/head
	body
		include include/headerRegistro
		.RegistroUsuario
			.contenedor
				h1 Registrate como usuario

				form(method="POST" action="" name="RegistroUsuarioFormulario" )
					ul
						li
							input(type='text', placeholder='Nombre' name='Nombre')
						li
							input(type='text', placeholder='Apellido paterno' name='ApellidoPaterno')
						li
							input(type='text', placeholder='Apellido materno' name='ApellidoMaterno')
						li
							input(type='text', placeholder='Contraseña' name='Contrasena')
						li
							input(type='text', placeholder='Confirmar contraseña' name='ConfirmarContrasena')
