doctype
html(lang="es")
	head
		include include/head
	body.listaEvento
		include include/headerCliente
		//-<?php include 'lib/listaEvento.php'; ?>
		.contenedorComun
			.informacionTop
				.miniMenu
					ul
						li.seleccionEstado
							p Mostrar eventos
							select.optionState
								option(value='1') actuales
								option(value='2') pasados
						li.busqueda
							form
								input(type='text', placeholder='buscar evento' name='buscaEvento' id="buscaEvento" required)
								button(type='submit')
									i.fa.fa-search
				//-.mitadC
					h1 Eventos más concurridos
					.concurrencia
						.lista
							ul
								li
									p 1.
								li.eventLink
									a(href="informaEvento.html") Evento 1
								li.cruz
									i.fa.fa-plus(aria-hidden='true')
						.contenidoLista
							.contenerilo
								.beautifulStar
								.comentario
									.datoComen
										.nombre
											h1 Fulanito
										.fecha
											h1 25/10/16
									.contenidoComen
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

								.comentario
									.datoComen
										.nombre
											h1 Fulanito
										.fecha
											h1 25/10/16
									.contenidoComen
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.lista
							ul
								li
									p 2.
								li.eventLink
									a(href="#evento2") Evento 2
								li.cruz
									i.fa.fa-plus(aria-hidden='true')
						.contenidoLista
							.contenerilo
								.beautifulStar
								.comentario
									.datoComen
										.nombre
											h1 Fulanito
										.fecha
											h1 25/10/16
									.contenidoComen
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				//-.mitadC
					h1 Eventos con más estrellas
					.estrellado
						.lista
							ul
								li
									p 1.
								li.eventLink
									a(href="informaEvento.html") Evento 1
								li.cruz
									i.fa.fa-plus(aria-hidden='true')
						.contenidoLista
							.contenerilo
								.beautifulStar
								.comentario
									.datoComen
										.nombre
											h1 Fulanito
										.fecha
											h1 25/10/16
									.contenidoComen
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		include include/footer

		script(type='text/javascript', src='js/listaEvento.js')