.headerEstablecimiento{	
	@include column(1, $offset: 0, $gutter: 0);
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: $naranja;
	
	.medio{
		-ms-display: flex;
		display: flex;
		align-items: center;
	}

	li{
		display: inline-block;
	}

	.logoE{
		@include column(6/30, $offset: 0, $gutter: 0);
		.imagen{
			@include column(2/7, $offset: 0, $gutter: 0);
			text-align: right;	
			img{
				//max-width: 70%;
				border-radius: 100px;
			}
		}
		.texto{
			@include column(5/7, $offset: 0, $gutter: 0);
			text-align: left;
			padding-left: 8px;
			a{
				@include transition(0.4s);
				text-decoration: none;
				font-family: 'AYearWithoutRain';
				color: $blanco;
				font-size: 1.4em;
			}
		}
	}

	.menuE{
		@include column(18/30, $offset: 0, $gutter: 0);
		text-align: center;
		cursor: default;

		li{
			padding-right: 35px;
			padding-left: 35px;
			a{
				@include transition(0.6s);
				text-decoration: none;
				font-family: 'AardvarkCafe';
				color: $blanco;
				font-size: 1.5em;
				&:hover{
					cursor: pointer;
					color: $oscuro;
				}
			}
		}


	}

	.usuario{
		text-align: center;
		cursor: default;
		@include column(6/30, $offset: 0, $gutter: 0);
		a, i{
			@include transition(0.4s);
			text-decoration: none;
			color: $blanco;
			font-size: 1.4em;
		}

		a{
			font-family: 'AYearWithoutRain';
		}

		i{
			font-size: 1.8em;
			color: $rojo;
		}
	
		ul{
			display: inline-block;
			li{
				display: inline-block; 
			}

			&:hover{
				i{
					cursor: pointer;
					color: $azul;
				}
			}
		}		
	}

	.contenido{
	    display: none;
	    position: absolute;
	    background-color: $naranja;
	    min-width: 170px;
	    margin-top: 28px;
	    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 2;
	}

	.contenido a {
		z-index: 1;
	    float: none;
	    color: $blanco;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.contenido a:hover {
	    background-color: $naranjaoscuro;
	    color: $negro;
	}

	.show {
		z-index: 1;
	    display: block;
	}

}