.headerRegistro
{	
	.contenedorGeneral
	{
		height: 9em;
		.contenedor
		{
			height: 6.7em;
			background-color: $naranja; 
			.ubicar
			{
				img 
				{
					max-width: 9em;
					display: block;
					margin: auto;
					padding-top: 2em;
				}
			}				
		}
	}
}