doctype
html(lang="es")
	head
		include include/head
	body.home
		include include/headerIndex

		h1 ¡Yo soy AardvarkCafe!
		h2 ¡Yo soy Abstrec!
		h3 ¡Yo soy AYearWithoutRain!
		h4 ¡Yo soy Gabrielle!
		h5 ¡Yo soy Roboto-Regular!
		h6 ¡Yo soy Roboto-Light!