.headerIndex
	.contenedorComun
		.centro
			.logo.centro
				.imagen
					img(src="img/logo_sin_fondo.png")
				.texto
					a(href="#Inicio") Apptivity
			.menu
				ul
					li
						a(href="#Descarga") Descarga la App
					li
						a(href="#Utilizar") ¿Cómo utilizarlo?
					li
						a(href="#Iniar") Iniciar Sesión
