- var version = '18082016'
title Apptivity
meta(name="description", content="")
meta(name="keywords" content="") 
meta(charset="utf-8") 
link(rel="shortcut icon" href="img/logo.ico" type="image/x-icon")
link(rel="icon" href="img/logo.ico" type="image/x-icon")
link(rel='stylesheet', type="text/css", href='css/styles.css?version=' + version)
link(type="text/css", rel='stylesheet', href="css/FA/font-awesome.css")
link(type="text/css",rel='stylesheet', href= "css/slick.css")
link(type="text/css", rel='stylesheet', href="css/slick-theme.css")