.headerEstablecimiento
	.contenedorComun
		.medio
			.logoE.medio
				.imagen
					a(href="index.html")
						img(src="img/logo_contorno.png")
				.texto
					a(href="inicioEstablecimiento.html") Apptivity
			.menuE
				ul
					li
						a(href="evento.html") Eventos
					li
						a(href="#Eventos") Promociones
					li
						a(href="#Eventos") Resultados
			.usuario
				.despliegueE
					ul
						li
							a(href="#").desbotonE(onclick='muestraLista()') Username
							#despliegoE.contenido
								a(href="#MC") Mi cuenta
								a(href="#CS") Cerrar Sesión
						li 
							i.fa.fa-angle-down.desbotonE(aria-hidden='true', onclick='muestraLista()')
							#despliegoE.contenido
								a(href="#MC") Mi cuenta
								a(href="#CS") Cerrar Sesión
					