.home{

	h1{
		font-family: 'AardvarkCafe';
	}

	h2{
		font-family: 'Abstrec';
	}

	h3{
		font-family: 'AYearWithoutRain';
	}

	h4{
		font-family: 'Gabrielle';
	}

	h5{
		font-family: 'Roboto-Regular';
	}

	h6{
		font-family: 'Roboto-Light';
	}

}